.btn_header {
  display: flex;
}

.btn__item {
  font-family: "Open Sans";
  display: inline-flex;
  color: black;
  padding: 15.5px 89px 15.5px 89px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  background-color: #EC7979;
  color: white;
  text-transform: capitalize;
}

.btn__item:hover {
  color: #fff;
  background-color: #AB4949;
}

.btn__item:active {
  background-color: #EC7979;
  color: #fff;
  box-shadow: inset 0px 0px 10px #AB4949;
}

.btn__item_color_white {
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
}

.btn__item_color_white:hover {
  color: #EC7979;
  border: 2px solid #EC7979;
  background: transparent;
}

.btn__item_color_white:active {
  background: #AB4949;
  border: 2px solid #AB4949;
  color: #fff;
}

.btn_item_size_l {
  padding: 15.5px 140px 15.5px 140px;
}

.btn_banner {
  padding-top: 50px;
}

.btn-reg__item {
  border: 2px solid #EC7979;
  background-color: #EC7979;
  color: #fff;
  border-radius: 0px 0px 10px 10px;
  padding: 8px 207px 8px 207px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.btn-reg__item:hover {
  background-color: #AB4949;
  border: 2px solid #AB4949;
}

.btn-reg__item:active {
  background-color: #EC7979;
  box-shadow: inset 0px 0px 10px #AB4949;
}

.btn_item_size_l {
  padding: 15.5px 140px 15.5px 140px;
}

@media (max-width: 1024px) {
  .btn__item {
    padding: 10.5px 46px 10.5px 46px;
  }

  .btn-reg__item {
    padding: 8px 170px 8px 170px;
  }

  .btn_item_size_l {
    padding: 15.5px 113px 15.5px 113px;
  }
}


@media (max-width: 768px) {
  .btn__item_color_white {
    padding: 10.5px 98px 10.5px 98px;
  }

  .btn__item {
    padding: 12.5px 77px 12.5px 77px;
  }

  .btn-reg__item {
    padding: 18px 101px 18px 101px;
  }
}
