.post-title {
  font-size: 18px;
  line-height: 21px;
  color: #86878B;
}

.post-title_white {
  color: #fff;
}

.post-title_text_left {
  text-align: left;
}

@media (max-width: 1024px) {
  .post-title {
    font-size: 14px;
    line-height: 16px;
  }

  .post-title_white {
    text-align: left;
  }
}
