.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.promo_left {
  align-items: flex-start;
}


@media (max-width: 1024px) {
  .post-title {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 768px) {
  .promo_left {
    align-items: center; //Понимаю что не красиво но не хотел вешать ещё 1 модификатор!
  }
}

