.social-media-box {
  display: flex;
  gap: 55px;
  padding: 15px 0 18px 0;
  align-items: center;

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }
}

.header__wrapper {
  background: #F8EFEF;
}

@media (max-width: 1024px) {
  .social-media-box {
    gap: 55px;
    padding: 13px 0 13px 0;
  }
}

@media (max-width: 768px) {
  .social-media-box {
    flex-direction: column;
    gap: 30px;
    padding: 40px 0 40px 0;

    &__text {
      align-items: center;
    }
  }

}
